.main-layout{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.app-header {
    background-color: #3a9f7d;
    color: white;
    padding: 15px 20px;
    flex-shrink: 0;         
    z-index: 2000;          
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.app-header h1 {
    margin: 0;
    font-size: 1.5rem;
}

.app-header p {
    margin: 5px 0 0 ;
    opacity: 0.9;
    font-size: 0.9rem;
}

.content-container {
    display: flex;
    flex-direction: row;   
    flex: 1;                
    height: 100%;          
    overflow: hidden;
}

.sidebar {
    width: 300px;
    background-color: #ffffff;
    padding: 20px;
    border-right: 2px solid #ddd;
    overflow-y: auto;
    flex-shrink: 0;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    z-index: 1000;
}

.map-area {
    display: flex;
    flex: 1;
    height: 93%;
    position: relative;
    overflow: hidden;
}

.filter-group {
    margin-bottom: 20px;
}